language: generic
sudo: required
services:
    - docker

before_install:
    - docker build -t bluckose/react-test -f ./client/Dockerfile.dev ./client

script:
#    - docker run -e CI=true bluckose/react-test npm test
    
after_success:
    - docker build -t bluckose/multi-client ./client
    - docker build -t bluckose/multi-nginx ./nginx
    - docker build -t bluckose/multi-worker ./worker
    - docker build -t bluckose/multi-server ./server
    
    - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
    - docker push bluckose/client
    - docker push bluckose/nginx
    - docker push bluckose/worker
    - docker push bluckose/server